<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movie4" autowire="byName" class="com.stackroute.spring.beans.Movie">
        <property name="movieName" value="ABCD"></property>
        <property name="director" value="REMO"></property>
    </bean>

    <bean id="Actor" class="com.stackroute.spring.beans.Actor">
        <property name="name" value="aart"></property>
        <property name="age" value="26"></property>
        <property name="gender" value="male"></property>
    </bean>

    <bean id="movie5" autowire="byName" class="com.stackroute.spring.beans.Movie">
        <property name="movieName" value="ABCD"></property>
        <property name="director" value="REMO"></property>
    </bean>

    <bean id="actor" class="com.stackroute.spring.beans.Actor">
        <property name="name" value="aarti"></property>
        <property name="age" value="20"></property>
        <property name="gender" value="male"></property>
    </bean>

</beans>
